<div class="box">
    <div class="row">
        <div class="col-md-5 col-sm-12">
            <img src="{{product.image}}" alt="test">
        </div>
            <div class="col-md-7 col-sm-12">
                <div class="info">
                    <ul class="list-unstyled">
                        <li><strong>Title : </strong>{{product.nameEn}}</li>
                        <li><strong> Category : </strong>{{product.category.name}}</li>
                        <li><strong> price : </strong>{{product.variants[0].price}} LE</li>
                    </ul>
                </div>
            </div>
    </div>
</div>